html { 
    background: url("https://github.com/DineshSolanki/Project-Assets/raw/master/Folicon/folicon Icon.png") no-repeat center center fixed; 
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
  }