<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Trace" internalLogFile="internal-nlog.txt">
    
    <!-- Enable internal NLog diagnostics logging -->
    <extensions>
        <add assembly="NLog.Extensions.Logging"/>
        <add assembly="Sentry.NLog" />
    </extensions>

    <!-- Targets -->
    <targets>
        <target xsi:type="Sentry" name="sentry"
                dsn="${environment:SENTRY_DSN}"
                layout="${message}"
                environment="Development"
                breadcrumbLayout="${message}"
                minimumBreadcrumbLevel="Debug"
                minimumEventLevel="Error"
        level="debug">

            <!-- Advanced options can be configured here-->
            <options
                    sendDefaultPii="true"
                    attachStacktrace="false"
                    shutdownTimeoutSeconds="5"
                    debug="false"
            >
                <!--Advanced options can be specified as attributes or elements-->
                <includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>
            </options>

            <!--Optionally add any desired additional Tags that will be sent with every message -->
            <tag name="exception" layout="${exception:format=shorttype}" includeEmptyValue="false" />

            <!--Optionally add any desired additional Data that will be sent with every message -->
            <contextproperty name="threadid" layout="${threadid}" includeEmptyValue="true" />
        </target>
        
        <!-- File target with log data -->
        <target name="fileTarget" xsi:type="File" fileName="logs/folicon_${shortdate}.log"
                layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.ffff}]-[v${assembly-version:format=Major.Minor.Build}]-${callsite}-|${uppercase:${level}}: _${message}_ ${exception:format=tostring}"/>

        <!-- Console target for real time log monitoring -->
        <target xsi:type="ColoredConsole"
                name="consoleTarget"
                useDefaultRowHighlightingRules="true"
                enableAnsiOutput="true"
                layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.ffff}]-[v${assembly-version:format=Major.Minor.Build}]-${callsite}:${callsite-linenumber}-|${uppercase:${level}}: _${message}_ ${exception:format=tostring}">
        </target>

        <!-- Window popup for critical errors -->
        <!-- <target name="windowPopupTarget" xsi:type="WindowsMessageBox"/> -->
    </targets>

    <!-- Rules -->
    <rules>
        <!-- Log anything INFO or above to file -->
        <logger name="*" minlevel="Info" writeTo="fileTarget"/>
        
        <logger name="*" writeTo="sentry"/>
        <!-- Log anything DEBUG or above to console -->
        <logger name="*" minlevel="Debug" writeTo="consoleTarget"/>

        <!-- Log critical errors to popup window -->
        <!-- <logger name="*" minlevel="Error" writeTo="logwindow"/> -->
    </rules>
</nlog>